<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HomePage</title>
    <link rel="stylesheet" href="/css/home.css" />
  </head>
  <body>
    <div class="container">
      <!-- Navbar -->
      <div class="navbar">
        <div class="logo">URL Shortner</div>
        <a href="/analytics">Analytics</a>
        <a href="/profile">Profile</a>
        <a href="/logout">Logout</a>
        <a href="/settings">Settings</a>
        <a href="/help">Help</a>
      </div>

      <!-- Form Section -->
      <div class="formContainer">
        <form method="POST" action="/url">
          <p>Enter Your Original URL</p>
          <input type="text" name="url" placeholder="http://example.com" />
          <button type="submit">Generate</button>
        </form>
      </div>

      <% if (locals.id) { %>
      <div class="shortID">
        <p>URL Generated: http://localhost:5001/<%= id %></p>
      </div>
      <% } %> <% if (locals.urls) { %>
      <div class="analyticsTableContainer">
        <table>
          <thead>
            <tr>
              <th>S. NO</th>
              <th>shortID</th>
              <th>Redirect URL</th>
              <th>Clicks</th>
            </tr>
          </thead>
          <tbody>
            <% urls.forEach((url,index) => { %>
            <tr>
              <td><%= index+1 %></td>
              <td><%= url.shortId %></td>
              <td><%= url.redirectUrl %></td>
              <td><%= url.visitHistory.length %></td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
      <% } %>
    </div>
  </body>
</html>
